@page "/about"
@using MudBlazor

<PageTitle>About Us</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true" Class="mt-5 mb-5" Align="Align.Center">Project</MudText>

<div Class="d-flex row align-center justify-center mb-7">
    <MudText Style="width: 60%" Typo="Typo.body1" GutterBottom="true" Align="Align.Left">
        HeatItOn is a comprehensive system dedicated for efficient thermal energy management in the city of Heatington, securing heat delivery
        to approximately 1600 buildings through a single district heating network. The heat is produced with a combination of traditional heat-only boilers and
        units that combine the production of heat with the production / consumption of electricity. Our project aims to replace the current manual
        procedure with an automated system to define heat schedules optimizing costs and maximizing profits in the electricity market.
    </MudText>
</div>

<MudDivider></MudDivider>

<MudText Typo="Typo.h4" class="mt-5 mb-5" GutterBottom="true" Align="Align.Center">Team</MudText>
<MudGrid Justify="Justify.Center">
    @foreach (var member in TeamMembers)
    {
        <MudCard xs="12" Class="mx-4 my-4" Style="min-width: 250px;" Elevation="25">
            <MudCardContent class="d-flex flex-column align-center">
                @if (member.Image.Length != 0)
                {
                    <MudImage Src="@(member.Image)" Width="120" Height="120" Class="my-4 mx-auto rounded-circle"/>
                }
                @if (member.Image.Length == 0)
                {
                    <MudAvatar Color="Color.Secondary" Style="width:120px;height:120px;"class="my-4 mx-auto rounded-circle">
                        @member.Name.Split(" ")[0][0]@member.Name.Split(" ")[1][0]
                    </MudAvatar>
                }
                <MudText Typo="Typo.h6" Class="mb-3">@member.Name</MudText>
                <div Class="d-flex row flex-row align-center mb-3">
                    <MudIcon Icon="@Icons.Material.Filled.Mail" Style="font-size: large;"/>
                    <a href="mailto:@member.Email" style="text-decoration: none; margin-left:10px;">
                        <MudText Typo="Typo.body1">@member.Email</MudText>
                    </a>
                </div>
                <MudDivider Variant="Variants.Filled"/>
            </MudCardContent>
            <MudCardActions>
                <div Class="d-flex row justify-center align-center">
                    <MudIconButton Link="@member.Linkedin" Icon="@Icons.Custom.Brands.LinkedIn"/>
                    <MudIconButton Link="@member.Github" Icon="@Icons.Custom.Brands.GitHub"/>
                    @if (member.AdditionalLink is not null)
                    {
                        <MudIconButton Link="@member.AdditionalLink" Icon="@Icons.Material.Filled.Link"/>
                    }
                </div>
            </MudCardActions>
        </MudCard>
    }
</MudGrid>

@code {

    public record TeamMember(string Name, string Image, string Linkedin, string Github, string Email, string AdditionalLink);

    List<TeamMember> TeamMembers = new()
    {
        new TeamMember("Bence Kanyok", "", "https://www.linkedin.com/in/john_doe1", "https://github.com/john_doe1", "bekan23@student.sdu.dk", null),
        new TeamMember("Daniel Gardev", "", "https://www.linkedin.com/in/john_doe2", "https://github.com/john_doe2", "dagar23@student.sdu.dk", null),
        new TeamMember("Francesco Schenone", "", "https://www.linkedin.com/in/john_doe3", "https://github.com/john_doe3", "fsche23@student.sdu.dk", null),
        new TeamMember("Jan Pawel Musiol", "", "https://www.linkedin.com/in/janmusio%C5%8223/", "https://github.com/magwrap", "jamus23@student.sdu.dk", null),
        new TeamMember("Phongsakon Mark Konrad", "Assets/Images/member-pk.jpeg", "https://www.linkedin.com/in/phongsakonmarkkonrad/", "https://github.com/pkyeager", "phkon23@student.sdu.dk", null),
        new TeamMember("Rikhardur Snaebjoernsson", "", "https://www.linkedin.com/in/john_doe6", "https://github.com/john_doe6", "risna23@student.sdu.dk", null),
    };

}
