@inject NavigationManager NavManager
@page "/"
@using System.Globalization
@using Heatington.Models

<style>
    .text-center {
        text-align: center;
    }
    .space-y-4 > * + * {
        margin-top: 2rem;
    }

    .chart-container {
        width: 100%;
    }


</style>

<PageTitle>Dashboard</PageTitle>

<MudContainer Class="d-flex flex-column align-items-center text-align-center space-y-4 ">
<MudText Typo="Typo.h4" class="text-center">Heating Grid</MudText>
<MudImage Fluid="true" Alt="Heating Grid Map" Class="rounded-lg" Src="Assets/Images/heating-grid.png"></MudImage>

<MudText Typo="Typo.h4" class="text-center">
    Statistics for Winter Period
</MudText>
<MudGrid>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="8" class="mx-2 my-3 px-4 py-4">
            <div class="d-flex align-items-start">
                <MudIcon Icon="@Icons.Material.Filled.AttachMoney" Size="Size.Large" class="mr-3"/>
                <div>
                    <MudText Typo="Typo.h5" GutterBottom>Expenses</MudText>
                    <MudText Typo="Typo.h6">@($"{TotalExpenses} DKK")</MudText>
                </div>
            </div>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="8" class="mx-2 my-3 px-4 py-4">
            <div class="d-flex align-items-start">
                <MudIcon Icon="@Icons.Material.Filled.AccountBalance" Size="Size.Large" class="mr-3"/>
                <div>
                    <MudText Typo="Typo.h5" GutterBottom>Profit</MudText>
                    <MudText Typo="Typo.h6">@($"{totalProfit} DKK")</MudText>
                </div>
            </div>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="8" class="mx-2 my-3 px-4 py-4">
            <div class="d-flex align-items-start">
                <MudIcon Icon="@Icons.Material.Filled.Cloud" Size="Size.Large" class="mr-3"/>
                <div>
                    <MudText Typo="Typo.h5" GutterBottom>CO2 Produced</MudText>
                    <MudText Typo="Typo.h6">@($"{totalCO2Produced} kg")</MudText>
                </div>
            </div>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="8" class="mx-2 my-3 px-4 py-4">
            <div class="d-flex align-items-start">
                <MudIcon Icon="@Icons.Material.Filled.WbSunny" Size="Size.Large" class="mr-3"/>
                <div>
                    <MudText Typo="Typo.h5" GutterBottom>Heat Produced</MudText>
                    <MudText Typo="Typo.h6">@($"{totalHeatProduced} MW")</MudText>
                </div>
            </div>
        </MudCard>
    </MudItem>
</MudGrid>
<MudText Typo="Typo.h4" class="text-center">
    Statistics for Summer Period
</MudText>
<MudGrid>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="8" class="mx-2 my-3 px-4 py-4">
            <div class="d-flex align-items-start">
                <MudIcon Icon="@Icons.Material.Filled.AttachMoney" Size="Size.Large" class="mr-3"/>
                <div>
                    <MudText Typo="Typo.h5" GutterBottom>Expenses</MudText>
                    <MudText Typo="Typo.h6">@($"{TotalExpenses} DKK")</MudText>
                </div>
            </div>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="8" class="mx-2 my-3 px-4 py-4">
            <div class="d-flex align-items-start">
                <MudIcon Icon="@Icons.Material.Filled.AccountBalance" Size="Size.Large" class="mr-3"/>
                <div>
                    <MudText Typo="Typo.h5" GutterBottom>Profit</MudText>
                    <MudText Typo="Typo.h6">@($"{totalProfit} DKK")</MudText>
                </div>
            </div>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="8" class="mx-2 my-3 px-4 py-4">
            <div class="d-flex align-items-start">
                <MudIcon Icon="@Icons.Material.Filled.Cloud" Size="Size.Large" class="mr-3"/>
                <div>
                    <MudText Typo="Typo.h5" GutterBottom>CO2 Produced</MudText>
                    <MudText Typo="Typo.h6">@($"{totalCO2Produced} kg")</MudText>
                </div>
            </div>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="8" class="mx-2 my-3 px-4 py-4">
            <div class="d-flex align-items-start">
                <MudIcon Icon="@Icons.Material.Filled.WbSunny" Size="Size.Large" class="mr-3"/>
                <div>
                    <MudText Typo="Typo.h5" GutterBottom>Heat Produced</MudText>
                    <MudText Typo="Typo.h6">@($"{totalHeatProduced} MW")</MudText>
                </div>
            </div>
        </MudCard>
    </MudItem>
</MudGrid>
<MudDivider FlexItem></MudDivider>

@if (isDataReady)
{
    <!-- Heat Demand Chart -->
    <MudText Typo="Typo.h4" class="text-center">Heat Demand</MudText>
    <MudChart CanHideSeries ChartType="ChartType.Line" ChartSeries="@HeatDemandSeries" @bind-SelectedIndex="Index"
              XAxisLabels="@XAxisLabels" Width="100%" Height="350px">
        <ChartOptions>
            <ChartOptions Title="Operation Points" YAxisTicks="5"/>
        </ChartOptions>
    </MudChart>

    <MudDivider FlexItem></MudDivider>

    <!-- Electricity Prices Chart -->
    <MudText Typo="Typo.h4" class="text-center">Electricity Prices</MudText>
    <MudChart CanHideSeries ChartType="ChartType.Line" ChartSeries="@ElectricityPriceSeries" @bind-SelectedIndex="Index"
              XAxisLabels="@XAxisLabels" Width="100%" Height="350px" ChartOptions="HeatAndElectricityChartOptions"/>
    <MudDivider FlexItem></MudDivider>

    <!-- Net Production Cost Chart -->
    <MudText Typo="Typo.h4" class="text-center">
        Optimizer
    </MudText>
    <MudText Typo="Typo.h6" class="text-center">
        Net Production Cost
    </MudText>
    <MudChart CanHideSeries ChartType="ChartType.Line" ChartSeries="@ProductionCostSeries" @bind-SelectedIndex="Index"
              XAxisLabels="@XAxisLabels" Width="100%" Height="350px" ChartOptions="ProductionCostChartOptions"/>
    <MudDivider FlexItem></MudDivider>
}
<!-- CO2 Emission Chart -->
<MudText Typo="Typo.h6" class="text-center">
    CO2 Emission
</MudText>
<MudChart CanHideSeries ChartType="ChartType.Line" ChartSeries="@Co2EmissionSeries" @bind-SelectedIndex="Index"
          XAxisLabels="@XAxisLabels" Width="100%" Height="350px" ChartOptions="Co2EmissionChartOptions"/>
<MudDivider FlexItem></MudDivider>

<!-- Operation Points Chart -->
<MudText Typo="Typo.h6" class="text-center">
    Operation Points
</MudText>
<MudChart ChartType="ChartType.StackedBar" ChartSeries="@OperationPointsSeries" XAxisLabels="@XAxisLabels"
          Width="100%" Height="350px" ChartOptions="OperationPointsChartOptions">
</MudChart>


<MudDivider FlexItem></MudDivider>
<MudText Typo="Typo.h4" class="text-center">
    Production Units
</MudText>
<MudTable Items="@_productionUnits">
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ProductionUnit, object>(u => u.Name)">Name</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ProductionUnit, object>(u => u.FullName)">
                Full Name
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ProductionUnit, object>(u => u.MaxHeat)">
                Max Heat MW
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ProductionUnit, object>(u => u.MaxElectricity)">
                Max Electricity MW
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ProductionUnit, object>(u => u.ProductionCost)">
                Production Costs
                DKK/Mwh(th)
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ProductionUnit, object>(u => u.Co2Emission)">
                CO2 Emissions
                kg/Mwh(th)
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ProductionUnit, object>(u => u.GasConsumption)">
                Primary Energy
                Consumption Mwh/Mwh(th)
            </MudTableSortLabel>
        </MudTh>
        <MudTh></MudTh>
    </HeaderContent>

    <RowTemplate Context="productionUnit">
        <MudTd DataLabel="Name">@productionUnit.Name</MudTd>
        <MudTd DataLabel="Full Name">@productionUnit.FullName</MudTd>
        <MudTd DataLabel="Max Heat">@productionUnit.MaxHeat.ToString(CultureInfo.InvariantCulture)</MudTd>
        <MudTd
            DataLabel="Max Electricity">
            @productionUnit.MaxElectricity.ToString(CultureInfo.InvariantCulture)
        </MudTd>
        <MudTd
            DataLabel="Production Costs">
            @productionUnit.ProductionCost.ToString(CultureInfo.InvariantCulture)
        </MudTd>
        <MudTd DataLabel="CO2 Emissions">@productionUnit.Co2Emission.ToString(CultureInfo.InvariantCulture)</MudTd>
        <MudTd
            DataLabel="Primary Energy Consumption">
            @productionUnit.GasConsumption.ToString(CultureInfo.InvariantCulture)
        </MudTd>
        <MudTd>
            <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary"
                       OnClick="(() => ViewMore(productionUnit))">
                View More
            </MudButton>
        </MudTd>
    </RowTemplate>
</MudTable>

</MudContainer>
