@inject NavigationManager NavManager
@page "/"

<style>
.text-center {
    text-align: center;
}
.space-y-4 > * + * {
    margin-top: 2rem;
}

.chart-container {
    width: 100%;
}


</style>

<PageTitle>Dashboard</PageTitle>

<MudContainer Class="d-flex flex-column align-items-center text-align-center space-y-4 ">
    @* <MudImage Src="Assets/Images/heating-grid.png"></MudImage> *@

    <MudText Typo="Typo.h4" class="text-center">
        Statistics
    </MudText>
    <MudGrid>
        <MudItem xs="12" sm="6" md="3">
            <MudCard Elevation="8" class="mx-2 my-3 px-4 py-4">
                <div class="d-flex align-items-start">
                    <MudIcon Icon="@Icons.Material.Filled.AttachMoney" Size="Size.Large" class="mr-3"/>
                    <div>
                        <MudText Typo="Typo.h5" GutterBottom>Expenses</MudText>
                        <MudText Typo="Typo.h6">@($"{TotalExpenses} DKK")</MudText>
                    </div>
                </div>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudCard Elevation="8" class="mx-2 my-3 px-4 py-4">
                <div class="d-flex align-items-start">
                    <MudIcon Icon="@Icons.Material.Filled.AccountBalance" Size="Size.Large" class="mr-3"/>
                    <div>
                        <MudText Typo="Typo.h5" GutterBottom>Profit</MudText>
                        <MudText Typo="Typo.h6">@($"{totalProfit} DKK")</MudText>
                    </div>
                </div>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudCard Elevation="8" class="mx-2 my-3 px-4 py-4">
                <div class="d-flex align-items-start">
                    <MudIcon Icon="@Icons.Material.Filled.Cloud" Size="Size.Large" class="mr-3"/>
                    <div>
                        <MudText Typo="Typo.h5" GutterBottom>CO2 Produced</MudText>
                        <MudText Typo="Typo.h6">@($"{totalCO2Produced} kg")</MudText>
                    </div>
                </div>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudCard Elevation="8" class="mx-2 my-3 px-4 py-4">
                <div class="d-flex align-items-start">
                    <MudIcon Icon="@Icons.Material.Filled.WbSunny" Size="Size.Large" class="mr-3"/>
                    <div>
                        <MudText Typo="Typo.h5" GutterBottom>Heat Produced</MudText>
                        <MudText Typo="Typo.h6">@($"{totalHeatProduced} MW")</MudText>
                    </div>
                </div>
            </MudCard>
        </MudItem>
    </MudGrid>
    <MudDivider FlexItem></MudDivider>
    <MudText Typo="Typo.h4" class="text-center">
        Heat
    </MudText>

    @*Heat Line Chart*@
    <div>
        <MudChart CanHideSeries ChartType="ChartType.Line" ChartSeries="@_seriesHeat" @bind-SelectedIndex="_indexHeat" XAxisLabels="@_xAxisLabels1" Width="100%" Height="350px" ChartOptions="@_options"/>
        <MudGrid>
            @* <MudItem xs="12"> *@
            @*     <MudText Class="text-center" Typo="Typo.body1">Selected: @(_indexHeat < 0 ? "None" : _seriesHeat[_indexHeat].Name)</MudText> *@
            @* </MudItem> *@
        </MudGrid>
    </div>
    <MudDivider FlexItem></MudDivider>
    <MudText Typo="Typo.h4" class="text-center">
        Electricity
    </MudText>
    <div>
        <MudChart CanHideSeries ChartType="ChartType.Line" ChartSeries="@_seriesElectricity" @bind-SelectedIndex="_indexElectricity" XAxisLabels="@_xAxisLabels1" Width="100%" Height="350px" ChartOptions="@_options"/>
        <MudGrid>
            @* <MudItem xs="12"> *@
            @*     <MudText Class="text-center" Typo="Typo.body1">Selected: @(_indexElectricity < 0 ? "None" : _seriesElectricity[_indexElectricity].Name)</MudText> *@
            @* </MudItem> *@
        </MudGrid>
    </div>
    <MudDivider FlexItem></MudDivider>
    <MudText Typo="Typo.h4" class="text-center">
        Optimizer
    </MudText>
    <div>
        <MudChart ChartType="ChartType.Line" ChartSeries="@_seriesBoilers" XAxisLabels="@_xAxisLabels3" Width="100%" Height="350px" CanHideSeries/>
        <MudGrid>
            @* <MudItem xs="12"> *@
            @*     <MudText Class="text-center" Typo="Typo.body1">Selected: @(_indexBoilers < 0 ? "None" : _seriesBoilers[_indexBoilers].Name)</MudText> *@
            @* </MudItem> *@
        </MudGrid>
        <MudChart ChartType="ChartType.StackedBar" ChartSeries="@_seriesBoilers" XAxisLabels="_xAxisLabels3" Width="100%" Height="350px"/>
    </div>
    <MudDivider FlexItem></MudDivider>
    <MudText Typo="Typo.h4" class="text-center">
        Boilers
    </MudText>
    <MudTable Items="@_boilers" ServerData="new Func<TableState, Task<TableData<Boiler>>>(GetBoilersAsync)">
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Boiler, object>(boiler => boiler.Name)">Name</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Boiler, object>(boiler => boiler.MaxHeat)">Max Heat</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Boiler, object>(boiler => boiler.MaxElectricity)">Max Electricity</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Boiler, object>(boiler => boiler.ProductionCosts)">Production Costs</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Boiler, object>(boiler => boiler.CO2Emissions)">CO2 Emissions</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Boiler, object>(boiler => boiler.PrimaryEnergy)">Primary Energy Consumption</MudTableSortLabel>
            </MudTh>
            <MudTh></MudTh> <!-- Header for the 'View More' button -->
        </HeaderContent>

        <RowTemplate Context="boiler">
            <MudTd DataLabel="Name">@DisplayData(@boiler.Name)</MudTd>
            <MudTd DataLabel="Max Heat">@DisplayData(@boiler.MaxHeat)</MudTd>
            <MudTd DataLabel="Max Electricity">@DisplayData(@boiler.MaxElectricity)</MudTd>
            <MudTd DataLabel="Production Costs">@DisplayData(@boiler.ProductionCosts)</MudTd>
            <MudTd DataLabel="CO2 Emissions">@DisplayData(@boiler.CO2Emissions)</MudTd>
            <MudTd DataLabel="Primary Energy Consumption">@DisplayData(@boiler.PrimaryEnergy)</MudTd>
            <MudTd>
                <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => ViewMore(boiler))">
                    View More
                </MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>

</MudContainer>

