@page "/optimizer"

<PageTitle>Optimizer</PageTitle>

@* TODO: move Chart to differnet component to reduce redundancy *@

<MudContainer>
    <div>
        <MudText Typo="Typo.h2" Align="Align.Center" class="mt-5" GutterBottom>
            Optimizer
        </MudText>
    </div>
    <div class="flex-row">
        <div class="mt-3">
            <MudSelect class="" @bind-Value="SelectedSeason" Label="Select season" Variant="Variant.Outlined"
                       T="string">
                <MudSelectItem Value=@("Winter")/>
                <MudSelectItem Value=@("Summer")/>
            </MudSelect>
        </div>
        <div class="mt-3">
            <MudSelect class="" @bind-Value="SelectedScenario" Label="Select Scenario" Variant="Variant.Outlined"
                       T="string">
                <MudSelectItem Value=@("Scenario 1")/>
                <MudSelectItem Value=@("Scenario 2")/>
                <MudSelectItem Value=@("Scenario 3 (CO2)")/>
            </MudSelect>
        </div>
    </div>
    <MudGrid Spacing="4" Justify="Justify.Center" class="mt-5 mb-3">
        @foreach (var productionUnit in _productionUnits)
        {
            <MudCard Style="min-width: 200px; max-width: 300px; margin: 4px; padding: 1px">
                @* Using px because rem is too big *@
                <MudCardHeader Style="flex-direction: row; justify-content: center">
                    <MudText Typo="Typo.h6">@productionUnit.FullName</MudText>
                    <MudSwitch @bind-Value="@SwitchState" Color="Color.Primary"/>
                </MudCardHeader>
                <MudCardContent class="text-center">
                    <div class="mt-3">
                        <MudText Typo="Typo.body2">Max Heat: @productionUnit.MaxHeat MW</MudText>
                        <MudText Typo="Typo.body2">Max Electricity: @productionUnit.MaxElectricity MW</MudText>
                        <MudText Typo="Typo.body2">Production Costs: @productionUnit.ProductionCost DKK/Mwh(th)</MudText>
                        <MudText Typo="Typo.body2">CO2 Emissions: @productionUnit.Co2Emission kg/Mwh(th)</MudText>
                        <MudText Typo="Typo.body2">
                            Primary Energy Consumption: @productionUnit.GasConsumptionMWh/MWh(th)
                        </MudText>
                    </div>
                </MudCardContent>
            </MudCard>
        }
    </MudGrid>

</MudContainer>
