@page "/resource-manager"
@using Heatington.Web.Client.Components
@using System.Globalization
@using System.Text.Json
@using Heatington.AssetManager
@using Heatington.Controllers
@using Heatington.Controllers.Interfaces
@using Heatington.Models
@using Heatington.Services.LocalStorage
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject LocalStorageService LocalStorageService
@inject HttpClient HttpClient
@inject IDialogService DialogService
@rendermode InteractiveWebAssembly

<PageTitle>Resource Manager</PageTitle>


<div style="display: flex;  align-items: center; justify-content: center;">
    <MudText Typo="Typo.h4">Boilers</MudText>
    <MudButton style="margin-left: 15px"
               OnClick="() => OpenDialog()" Color="Color.Primary" Size="Size.Medium" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add">
        Add Boiler
    </MudButton>
</div>

<MudGrid Spacing="4" Justify="Justify.Center" class="mt-5 mb-3">
    @if (productionUnits != null)
    {
        foreach (var productionUnit in productionUnits)
        {
            <MudCard Style="min-width: 200px; max-width: 300px; margin: 4px; padding: 1px">
                @* Using px because rem is too big *@
                <MudCardHeader Style="flex-direction: row; justify-content: center">
                    <MudText Typo="Typo.h6">@productionUnit.Value.FullName</MudText>
                    <MudIconButton Icon="@Icons.Filled.Settings" Color="Color.Primary" OnClick="(() => OpenDialog(productionUnit))"/>
                </MudCardHeader>
                <MudCardContent class="text-center">

                    <div style="display: flex; justify-content: center;">
                        @if (productionUnit.Value.PicturePath?.Length != 0)
                        {
                            <MudImage Style="min-width: 220px; max-width: 220px; max-height: 220px; min-height: 220px" Src="@productionUnit.Value.PicturePath"></MudImage>
                        }
                        else
                        {
                            <MudImage Style="min-width: 220px; max-width: 220px; max-height: 220px; min-height: 220px" Src="@($"Assets/Images/{@productionUnit.Value.PicturePath}.jpg")"></MudImage>
                        }
                    </div>
                    <div class="mt-3">
                        <MudText Typo="Typo.body2">Max Heat: @DisplayData(@productionUnit.Value.MaxHeat)</MudText>
                        <MudText Typo="Typo.body2">Max Electricity: @DisplayData(@productionUnit.Value.MaxElectricity)</MudText>
                        <MudText Typo="Typo.body2">Production Costs: @DisplayData(@productionUnit.Value.ProductionCost)</MudText>
                        <MudText Typo="Typo.body2">CO2 Emissions: @DisplayData(@productionUnit.Value.Co2Emission)</MudText>
                        <MudText Typo="Typo.body2">Primary Energy Consumption: @DisplayData(@productionUnit.Value.GasConsumption)</MudText>
                    </div>
                </MudCardContent>
            </MudCard>
        }
    }
</MudGrid>

<MudDivider class="mt-5 mb-8"></MudDivider>

<MudContainer class="d-flex flex-row justify-center align-center text-center space-y-4 ">
    <div style="flex-direction: column">
        <MudText Typo="Typo.h4"> Heat Demand Data</MudText>
        <InputFile id="fileUpload" OnChange="HandleCsvUpload"></InputFile>
    </div>
</MudContainer>


@if (_heatDemandDataList.Count != 0)
{
    <MudContainer class="mt-8">
        <MudDataGrid Items="@_heatDemandDataList" Hover Dense Striped>
            <Columns>
                <PropertyColumn Property="data => data.StartTime" Title="Start Time"/>
                <PropertyColumn Property="data => data.EndTime" Title="End Time"/>
                <PropertyColumn Property="data => data.HeatDemand" Title="Heat Demand MWh"/>
                <PropertyColumn Property="data => data.ElectricityPrice" Title="Electricity Price DKK/MWh"/>
            </Columns>
        </MudDataGrid>
    </MudContainer>
}

@code {
    // THIS IS THE CODE SECTION FOR ASSET MANAGER
    static readonly string PathToHeatingGrid = "Assets/Data/HeatingGrid.json";
    static readonly string PathToProductionUnits = "Heatington.Web.Client/wwwroot/Assets/Data/ProductionUnits.json";
    static readonly IReadWriteController HeatingGridJsonController = new JsonController(PathToHeatingGrid);
    static readonly IReadWriteController ProductionUnitsJsonController = new JsonController(PathToProductionUnits);
    static readonly AssetManager AssetManager = new(HeatingGridJsonController, ProductionUnitsJsonController);
    Dictionary<ProductionUnitsEnum, ProductionUnit>? productionUnits;

    // SIMILAR TO USESTATE HOOK IN REACT?
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // Fetch initial data from JSON
        string initialDataJson = await HttpClient.GetStringAsync("Assets/Data/ProductionUnits.json");
        Dictionary<ProductionUnitsEnum, ProductionUnit>? _productionUnits = JsonSerializer.Deserialize<Dictionary<ProductionUnitsEnum, ProductionUnit>>(initialDataJson);

        // Check if there is data in local storage
        string? localStorageDataString = await LocalStorage.GetItemAsync<string>("ProductionUnits");
        if (localStorageDataString != null)
        {
            // If data exists in local storage use that instead of initial data
            Dictionary<ProductionUnitsEnum, ProductionUnit> localStorageData = JsonSerializer.Deserialize<Dictionary<ProductionUnitsEnum, ProductionUnit>>(localStorageDataString);
            productionUnits = localStorageData;
        }
        else
        {
            // If no data in local storage use initial data
            productionUnits = _productionUnits;
        }

        DirectoryInfo? pathToProjectRootDirectory = Directory.GetParent(AppDomain.CurrentDomain.BaseDirectory)?.Parent?.Parent?.Parent?.Parent;
        StateHasChanged();
        if (pathToProjectRootDirectory != null)
        {
            StateHasChanged();
            string pathToFile = Path.Combine(pathToProjectRootDirectory.FullName, "/Assets/Data/winter-data.csv");
            await ReadCsvDataOnLoad(pathToFile);
        }
    }

    private List<DataPoint> _heatDemandDataList = [];

    // METHOD OVERLOADING
    async void OpenDialog()
    {
        var parameters = new DialogParameters();
        parameters.Add("ProductionUnits", productionUnits);
        Console.WriteLine("Opening Dialog", parameters.ToString());
        var dialog = await DialogService.ShowAsync<AddBoilerDialog>("Add Boiler", parameters, new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true });
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            StateHasChanged();
        }
    }
    async void OpenDialog(KeyValuePair<ProductionUnitsEnum, ProductionUnit> productionUnit)
    {
        var parameters = new DialogParameters();
        parameters.Add("ProductionUnit", productionUnit.Value);
        var dialog = await DialogService.ShowAsync<EditBoilerDialog>($"Edit {productionUnit.Value.FullName}", parameters, new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true });
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            StateHasChanged();
        }
    }

    private async Task ReadCsvDataOnLoad(string pathToFile)
    {
        Console.WriteLine(pathToFile);
        string csvContent = await File.ReadAllTextAsync(pathToFile);
        ParseCsvData(csvContent);
    }

    private async Task HandleCsvUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var reader = new StreamReader(file.OpenReadStream());
        var csvContent = await reader.ReadToEndAsync();
        ParseCsvData(csvContent);
    }

    private void ParseCsvData(string csvContent)
    {
        var rows = csvContent.Split('\n');
        var culture = CultureInfo.InvariantCulture;
        foreach (var row in rows)
        {
            var values = row.Split(',');
            if (values.Length == 4)
            {
                _heatDemandDataList.Add(new DataPoint
                {
                    StartTime = DateTime.Parse(values[0], culture),
                    EndTime = DateTime.Parse(values[1], culture),
                    HeatDemand = float.Parse(values[2], culture),
                    ElectricityPrice = float.Parse(values[3], culture)
                });
            }
        }
        StateHasChanged();
    }

    private string? DisplayData(double data) => Convert.ToString(data.ToString(CultureInfo.InvariantCulture).Length != 0 ? data : "No Data");


}

