@page "/resource-manager"
@using Heatington.Web.Client.Components
@using System.Globalization
@rendermode InteractiveWebAssembly

<PageTitle>Resource Manager</PageTitle>


<div style="display: flex;  align-items: center; justify-content: center;">
    <MudText Typo="Typo.h4">Boilers</MudText>
    <MudButton style="margin-left: 15px"
               OnClick="() => OpenDialog()" Color="Color.Primary" Size="Size.Medium" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add">
        Add Boiler
    </MudButton>
</div>

<MudGrid Spacing="4" Justify="Justify.Center" class="mt-5 mb-3">
    @foreach (var productionUnit in _productionUnits)
    {
        <MudCard Style="min-width: 200px; max-width: 300px; margin: 4px; padding: 1px">
            @* Using px because rem is too big *@
            <MudCardHeader Style="flex-direction: row; justify-content: center">
                <MudText Typo="Typo.h6">@productionUnit.FullName</MudText>
                <MudIconButton Icon="@Icons.Filled.Settings" Color="Color.Primary" OnClick="(() => OpenDialog(productionUnit))"/>
            </MudCardHeader>
            <MudCardContent class="text-center">

                <div style="display: flex; justify-content: center;">
                    if (productionUnit.Value.PicturePath != null && productionUnit.PicturePath.Length != 0)
                    {
                        <MudImage Style="min-width: 220px; max-width: 220px; max-height: 220px; min-height: 220px" Src="@productionUnit.PicturePath"></MudImage>
                    }
                    else
                    {
                        <MudImage Style="min-width: 220px; max-width: 220px; max-height: 220px; min-height: 220px" Src="@($"Assets/Images/{@productionUnit.Name}.jpg")"></MudImage>
                    }
                </div>
                <div class="mt-3">
                    <MudText Typo="Typo.body2">Max Heat: @DisplayData(@productionUnit.MaxHeat)</MudText>
                    <MudText Typo="Typo.body2">Max Electricity: @DisplayData(@productionUnit.MaxElectricity)</MudText>
                    <MudText Typo="Typo.body2">Production Costs: @DisplayData(@productionUnit.ProductionCost)</MudText>
                    <MudText Typo="Typo.body2">CO2 Emissions: @DisplayData(@productionUnit.Co2Emission)</MudText>
                    <MudText Typo="Typo.body2">Primary Energy Consumption: @DisplayData(@productionUnit.GasConsumption)</MudText>
                </div>
            </MudCardContent>
        </MudCard>
    }
</MudGrid>

<MudDivider class="mt-5 mb-8"></MudDivider>

<MudContainer class="d-flex flex-row justify-center align-center text-center space-y-4 ">
    <div style="flex-direction: column">
        <MudText Typo="Typo.h4"> Heat Demand Data</MudText>
        <InputFile id="fileUpload" OnChange="HandleCSVUpload"></InputFile>
    </div>
</MudContainer>


@if (heatDemandDataList.Count != 0)
{
    <MudContainer class="mt-8">
        <MudDataGrid Items="@heatDemandDataList" Hover Dense Striped>
            <Columns>
                <PropertyColumn Property="data => data.StartDate" Title="Start Time"/>
                <PropertyColumn Property="data => data.EndDate" Title="End Time"/>
                <PropertyColumn Property="data => data.Value1" Title="Heat Demand MWh"/>
                <PropertyColumn Property="data => data.Value2" Title="Electricity Price DKK/MWh"/>
            </Columns>
        </MudDataGrid>
    </MudContainer>
}

